:root {
    font-size: 1rem;
    --primFont: 'Montserrat', sans-serif;
    --primClr: #02FEF9;
    --secClr: #004547;
    --accentClr: #BC0064;
    --fontClr: #00000000;
}


h1,
p {
    font-family: var(--primFont);
}

header,
.evidence,
.expln {
    padding-top: 50px;
    padding-bottom: 50px;
}

header {
    background-image: linear-gradient(90deg, var(--primClr), var(--secClr));
}